.chat-side
 .chat-side_header
  .chat-side_header_top
   .chat-side_header_top_user-name
    kawai
   .chat-side_header_top_icons-edit
    = link_to "#" ,class: "link" do
     = icon('fas', 'edit')
    = link_to "#" ,class: "link" do
     = icon('fas', 'cog')
 
 .chat-side_groups
  .chat-side_groups_chat-group
   .chat-side_groups_chat-group_name
    techchamp
   .chat-side_groups_chat-group_message
    メッセージがありません。
   